h1 {
	font-family: "Raleway", sans-serif;
	font-color:white;
	}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
.main_div {
	 background:linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                url('https://i.ytimg.com/vi/Xmo50IWnlO8/maxresdefault.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}